<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body{
	background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKS03NyUDRZ8LCOOX8o92dvCoyWFqo_m_5Cg&s");
	background-repeat:no-repeat;
	background-size:100%;
	text-align:center;
}
h1{
	font-size:30px;
	text-decoration:underline;
}
table{
	width:100%;
	font-size:20px;
}


</style>
</head>
<body>
<h1>Welcome to Student Dashboard</h1>
<a href="/register" style="font-size:30px;">Register Now......</a>

<br><br>
<table border="1">

<tr>
<th>ID</th>
<th>Name</th>
<th>Mail</th>
<th>Phone</th>
<th>Dob</th>
<th>Password</th>
<th>CPassword</th>
<th>Actions</th>
</tr>

<tr th:each="u: ${data}">
<td th:text="${u.id}"></td>
<td th:text="${u.name}"></td>
<td th:text="${u.mail}"></td>
<td th:text="${u.phone}"></td>
<td th:text="${u.dob}"></td>
<td th:text="${u.passwd}"></td>
<td th:text="${u.cpasswd}"></td>
<td>
<a th:href="@{/updateForm/{id}(id=${u.id})}">Update</a> ||
 <a th:href="@{/deleteUser/{id}(id=${u.id})}">Delete</a>
 </td>


</tr>
</table>


</body>
</html>