<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd"><!-- bean definitions here -->
        
        <bean class="in.sp.beans.Student" id="std1">
			
			
			<!--<property name="name" value="manu"></property>
				<property name="mail" value="manu@abc.com"></property>
					<property name="location" value="prayagraj"></property>-->
					
					<constructor-arg value="Manu"></constructor-arg>
					<constructor-arg value="manu@abc.com"></constructor-arg>
					<constructor-arg value="prayagraj"></constructor-arg>
		</bean>
		</beans>