
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

	<link rel="stylesheet" href="css/admin_home.css"> 
</head>
<body>
<!-- Header Section -->
	<header>
		<h1><marquee behavior="scroll" direction="left" scrollamount="20">SMART CITY (CITY GUIDE)</marquee></h1>

	</header>
	
	<!-- Navigation Section -->
	<nav>
  <ul>
    <li><a href="admin">Home</a></li>
  
    <li>
      <a href="">Place</a>
      <ul>
        <li><a href="addplaces">Add Places</a></li>
  		<li><a href="#">View Places</a></li>
        
      </ul>
    </li>
    
        <li>
      <a href="">City</a>
      <ul>
        <li><a href="addcity">Add City</a></li>
  		<li><a href="#">View City</a></li>
        
      </ul>
    </li>
    
           <li>
      <a href="">Category</a>
      <ul>
        <li><a href="addcategory">Add Category</a></li>
  		<li><a href="#">View Category</a></li>
        
      </ul>
    </li>
    
    
    <li><a href="index">Logout</a></li>
    
  </ul>
</nav>
	
	 <main>
   <DIV class= "container">
	<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQu74IpP_pWHpnIE-8IMREBRIM3w7P1nPHHyQ&s" style="width:220vh ; height:80vh">
	 <div class="centered">Welcome : Admin</div>
	</DIV>

  </main>
  <!-- Footer Section -->
	<footer>
		<p>&copy; 2024 SMART CITY - CITY GUIDE</p>
	</footer>
	
	
</body>
</html>